<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.mvc.menu.MenuDAOInter">

	<select id="testlist" resultType="dev.mvc.menu.MenuVO">
		SELECT rno, menuno, title,
		explanation
		FROM
		menu
	</select>

	<insert id="insert" parameterType="dev.mvc.menu.MenuVO">
		insert into
		menu(rno,menuno,type,title,explanation,spiciness,file1,file1saved,thumb,imagesize)
		values(#{rno}, menu_seq.nextval, #{type}, #{title}, #{explanation}, #{spiciness}, #{file1}, #{file1saved}, #{thumb}, #{imagesize} )
	</insert> 


</mapper>